{% extends "admin_base.html" %}

{% block title %}Sélection pour dépot documents{% endblock %}

{% block content2 %}
    <!-- Titre principal -->
    <h1 class="text-center text-white mb-4">Coffre-Fort - Administrateur</h1>

    <!-- Conteneur pour centrer la carte et la rendre plus large -->
        <div class="row">
            <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                <!-- Carte permettant de sélectionner un employé -->
                <div class="card bg-white shadow-lg rounded-lg p-4 mb-4">
                    <h2 class="text-lg font-semibold mb-3 text-dark "><i class="bi bi-folder"></i>  Sélectionner un Employé</h2>
                    <div class="card-body">
                        <!-- Formulaire pour choisir l'employé -->
                        <form method="POST" action="{{ url_for('coffre_fort') }}">
                            <div class="mb-3">
                                <label for="employe_id" class="form-label">Employé :</label>
                                <select name="employe_id" id="employe_id" class="form-select" required>
                                    {% for emp in employes | reverse %}
                                        <option value="{{ emp[0] }}">{{ emp[1] }} {{ emp[2] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <button type="submit" class="btn btn-custom-action w-100 mt-3">
                                <i class="bi bi-search"></i> Voir les Documents
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
