{% extends "admin_base.html" %}
{% block title %}Les demandes de congés{% endblock %}

{% block content1 %}
<li class="nav-item">
    <form class="d-flex mx-2" id ="searchBox">
        <input class="form-control me-2" type="search" id="searchInput" placeholder="Recherche par id employé" aria-label="Rechercher">
        <button class="btn btn-custom-search" type="button" onclick="searchDemande()">
            <i class="bi bi-search"></i>
        </button>
    </form>
</li>
{% endblock %}

{% block content2 %}    
            <h1 class="text-center text-white mb-4">Demandes de Congés</h1>
            {% if demandes %}
            <div class="text-center mt-5 d-none" id="error-message">
                <img src="{{ url_for('static', filename='img/Fichier2.png') }}" alt="Aucune demande" class="no-demand-image">
                <h4 class="text-white mt-4">Aucune demande de congé pour cet employé.</h4>
            </div> 
            <div class="row justify-content-center" id="demande-list">
                {% for demande in demandes | reverse %}
                <div class="col-md-6 col-lg-4 demande-card-wrapper">
                    <div class="card demande-card" onclick="agrandirCarte(this)">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <input type="checkbox" class="checkbox-item mx-3" value="{{ demande[0] }}">
                            <h5 class="card-title text-center fw-bold mb-0">Demande de {{ demande[1] }}</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                <p><strong>ID :</strong> {{ demande[0] }}</p>
                                <p><strong>Raison :</strong> {{ demande[2] }}</p>
                                <p><strong>Date de début :</strong> {{ demande[3] }}</p>
                                <p><strong>Date de fin :</strong> {{ demande[4] }}</p>
                                <p><strong>Statut :</strong> {{ demande[6] }}</p>
                                <span>
                                    <strong>Motif de refus :</strong> {{ demande[9] if demande[9] else "N/A" }}
                                </span>
                                {% if demande.pièce_jointe %}
                                <a href="{{ url_for('static', filename='uploads/congés/' + demande.pièce_jointe) }}" target="_blank" class="btn btn-link btn-sm">
                                    <i class="bi bi-paperclip" style="font-size: 1.5rem;"></i>
                                </a>
                                {% else %}
                                <span class="badge text-dark d-flex align-items-center justify-content-center"  id ="badgePerso">Pas de pièce jointe</span>
                                {% endif %}
                            </p>
                            <div class="d-flex flex-column">
                                {% if demande[6] != 'accepte' and demande[6] != 'refuse' %}
                                <form method="POST" action="{{ url_for('répondre_congés', id=demande[0]) }}" class="mb-2">
                                    <input type="hidden" name="statut">
                                    <button type="button" onclick="handleAction(this, 'accepte')" class="btn btn-success btn-sm w-100 mb-1">Accepter</button>
                                    <button type="button" onclick="handleAction(this, 'refuse')" class="btn btn-danger btn-sm w-100 mb-1">Refuser</button>
                                    <textarea name="motif_refus" placeholder="Motif du refus" class="form-control mt-2" rows="3" style="width: 100%;"></textarea>
                                </form>
                                
                                {% endif %}
                            </div>

                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
                <!-- Boutons flottants pour suppression multiple -->
            <div class="floating-buttons">
                <button class="btn btn-danger rounded-circle floating-btn" onclick="deleteSelectedItems('demandes_congé')" title="Supprimer les congés sélectionnés">
                    <i class="fas fa-trash-alt"></i>
                </button>
                <button class="btn btn-primary rounded-circle floating-btn" onclick="selectAll()" title="Tout sélectionner">
                    <i class="fas fa-check-double"></i>
                </button>
                <button class="btn btn-secondary rounded-circle floating-btn" onclick="deselectAll()" title="Tout désélectionner">
                    <i class="fas fa-ban"></i>
                </button>
            </div>
            {% else %}
            <!-- Image et message si aucune demande -->
            <div class="text-center mt-5">
                <img src="{{ url_for('static', filename='img/Fichier2.png') }}" alt="Aucune demande" class="no-demand-image">
                <h4 class="text-white mt-4">Aucune demande de congé pour le moment.</h4>
            </div>
            {% endif %}
{% endblock %}
