{% extends "admin_base.html" %}
{% block title %}Les demandes de contact{% endblock %}

{% block content1 %}
<li class="nav-item">
    <form class="d-flex mx-2">
        <input class="form-control me-2" type="search" id="searchInput" placeholder="Rechercher une demande" aria-label="Rechercher">
        <button class="btn btn-custom-search" type="button" onclick="searchDemande()">
            <i class="bi bi-search"></i>
        </button>
    </form>
</li>
{% endblock %}

{% block content2 %}
                <h1 class="text-center text-white mb-4">Demandes de contact</h1>
                <div id="error-message" class="alert alert-warning d-none text-center">Aucune demande trouvée pour cet e-mail.</div>
                    {% if demandes %}
                    <div class="row justify-content-center">
                        {% for demande in demandes %}
                        <div class="col-md-6 col-lg-4">
                            <div class="card demande-card" onclick="agrandirCarte(this)">
                                <div class="card-body">
                                    <h5 class="card-title">Sujet : {{ demande['sujet'] }}</h5>
                                    <p class="card-text">
                                        <p><strong>Immatricule :</strong> {{ demande['id_utilisateur'] if demande['id_utilisateur'] else 'Non spécifié' }}</p>
                                        <p><strong>Nom :</strong> {{ demande['nom'] }}</p>
                                        <p><strong>Prénom :</strong> {{ demande['prenom'] }}</p>
                                        <p><strong>Numéro de contact :</strong> {{ demande['telephone'] }}</p>
                                        <p><strong>Email de contact :</strong> {{ demande['email'] }}</p>
                                        <p><strong>Message :</strong> {{ demande['message'] }}</p>
                                        <p><strong>Date :</strong> {{ demande['date_creation']}}</p>
                                    </p>
                                    <form method="POST" action="{{ url_for('supprimer_demande_contact', id=demande['id']) }}" onsubmit="confirmerSuppression(event)">
                                        <div class="d-grid">
                                            <button type="submit" class="btn btn-danger"><i class="bi bi-trash"></i> Supprimer</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>      
                        {% endfor %}
                    </div>
                    {% else %}
                        <!-- Image et message si aucune demande -->
                        <div class="text-center mt-5">
                            <img src="{{ url_for('static', filename='img/Fichier2.png') }}" alt="Aucune demande" class="no-demand-image">
                            <h4 class="text-white mt-4">Aucune demande de contact pour le moment.</h4>
                        </div>
                    {% endif %}   
{% endblock %}