<!DOCTYPE html>
<html lang="fr">
<head>
    <!-- Métadonnées de base -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendrier du Télétravail</title>

    <!-- Liens CSS et dépendances (Bootstrap, FullCalendar, etc.) -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.2/main.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <style>
        .container{
            width : 100%;
        }
    </style>
</head>

<body>
    <!-- Barre de navigation pour l'administrateur -->
    {% if role =='admin' %}
        <!-- Barre de navigation principale -->
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid">
                <!-- Logo principal qui redirige vers le dashboard admin -->
                <a href="{{ url_for('admin_dashboard') }}">
                    <img id="main-logo" src="{{ url_for('static', filename='logo/logo-white.png') }}" alt="">
                </a>

                <!-- Bouton toggle pour les mobiles -->
                <a href="#" id="navbarToggler" class="navbar-toggler " style ="border: none;"data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <img src="{{ url_for('static', filename='img/default.png') }}" class="rounded-circle border border-light shadow-sm"
                        style="width: 45px; height: 45px; object-fit: cover;">
                </a>

                <!-- Liens de navigation -->
                <div class="collapse navbar-collapse text-center" id="navbarNav">
                    <ul class="navbar-nav ms-auto d-flex align-items-center">
                        <!-- Lien vers la page des employés -->
                        <li class="nav-item"><a class="nav-link mx-2" href="{{ url_for('afficher_employés') }}"><i class="bi bi-person"></i> Voir les employés</a></li>
                        
                        <!-- Lien pour ajouter un employé -->
                        <li class="nav-item"><a class="nav-link mx-2" href="{{ url_for('ajouter_employe_page') }}"><i class="bi bi-person-plus-fill"></i> Ajouter un employé</a></li>
                        
                        <!-- Lien vers le calendrier des congés -->
                        <li class="nav-item"><a class="nav-link mx-2" href="{{ url_for('calendrier_congés') }}"><i class="bi bi-calendar-check"></i> Calendrier Congés</a></li>
                        
                        <!-- Bloc personnalisable (content1) -->
                        {% block content1 %}{% endblock %}
                        
                        <!-- Menu déroulant "Plus" (apparaît sur grands écrans) -->
                        <li class="nav-item dropdown d-none d-lg-block">
                            <a href="#" class="nav-link dropdown-toggle" id="compteDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="{{ url_for('static', filename='img/default.png') }}" class="rounded-circle" style="width: 40px; height: 40px;">
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <!-- Liens supplémentaires -->
                                <li class="nav-item"><a class="nav-link mx-2" href="{{ url_for('assigner_manager') }}"><i class="bi bi-people-fill"></i> Affecter des Employés</a></li>
                                <li class="nav-item"><a class="nav-link mx-2" href="{{ url_for('afficher_demandes_congé') }}"><i class="bi bi-envelope-fill"></i> Demandes de congés</a></li>
                                <li class="nav-item"><a class="nav-link mx-2" href="{{ url_for('afficher_demandes_arrêts') }}"><i class="bi bi-file-earmark-text"></i> Demandes d'arrêts</a></li>
                                <li class="nav-item"><a class="nav-link mx-2" href="{{ url_for('coffre_fort', id_employe='admin') }}"><i class="bi bi-cloud-upload"></i> Déposer documents</a></li>
                                <li class="nav-item"><a class="nav-link mx-2" href="{{ url_for('afficher_demandes_prime') }}"><i class="bi bi-piggy-bank"></i> Demandes de prime</a></li>
                                <li class="nav-item"><a class="nav-link mx-2" href="{{ url_for('calendrier_teletravail') }}"><i class="bi bi-calendar-check"></i> Calendrier télétravail</a></li>
                                <li class="nav-item"><a class="nav-link mx-2" href="{{ url_for('admin_demandes_contact') }}"><i class="bi bi-chat-dots"></i> Demandes de contact</a></li>
                                <li class="nav-item"><a class="nav-link mx-2" href="{{ url_for('feedback_results') }}"><i class="bi bi-arrow-down-up"></i> Analyse des retours</a></li>
                                <li class="nav-item"><a class="nav-link mx-2" href="{{ url_for('logout') }}"><i class="bi bi-box-arrow-right"></i> Se déconnecter</a></li>
                            </ul>
                        </li>

                        <!-- Affichage des mêmes options en dehors du menu déroulant pour petits écrans (d-lg-none) -->
                        <li class="nav-item d-lg-none"><a class="nav-link mx-2" href="{{ url_for('assigner_manager') }}"><i class="bi bi-people-fill"></i> Affecter des Employés</a></li>
                        <li class="nav-item d-lg-none"><a class="nav-link mx-2" href="{{ url_for('afficher_demandes_congé') }}"><i class="bi bi-envelope-fill"></i> Demandes de congés</a></li>
                        <li class="nav-item d-lg-none"><a class="nav-link mx-2" href="{{ url_for('afficher_demandes_arrêts') }}"><i class="bi bi-file-earmark-text"></i> Demandes d'arrêts</a></li>
                        <li class="nav-item d-lg-none"><a class="nav-link mx-2" href="{{ url_for('coffre_fort', id_employe='admin') }}"><i class="bi bi-cloud-upload"></i></i> Déposer documents</a></li>
                        <li class="nav-item d-lg-none"><a class="nav-link mx-2" href="{{ url_for('afficher_demandes_prime') }}"><i class="bi bi-piggy-bank"></i> Demandes de prime</a></li>
                        <li class="nav-item d-lg-none"><a class="nav-link mx-2" href="{{ url_for('calendrier_teletravail') }}"><i class="bi bi-calendar-check"></i> Calendrier télétravail</a></li>
                        <li class="nav-item d-lg-none"><a class="nav-link mx-2" href="{{ url_for('admin_demandes_contact') }}"><i class="bi bi-chat-dots"></i> Demandes de contact</a></li>
                        <li class="nav-item d-lg-none"><a class="nav-link mx-2" href="{{ url_for('feedback_results') }}"><i class="bi bi-arrow-down-up"></i> Analyse des retours</a></li>
                        <li class="nav-item d-lg-none"><a class="nav-link mx-2" href="{{ url_for('logout') }}"><i class="bi bi-box-arrow-right"></i> Se déconnecter</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    {% endif %}

    <!-- Barre de navigation pour le manager -->
    {% if role =='manager' %}
    <!-- Début de la barre de navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid d-flex justify-content-between align-items-center">
            <!-- Logo principal -->
            <a href="{{ url_for('manager_dashboard') }}">
                <img id="main-logo" src="../static/logo/logo-white.png" alt="" style="width: 150px;">
            </a>

            <!-- Bouton toggle pour les mobiles -->
            <a href="#" id="navbarToggler" class="navbar-toggler " style ="border: none;"data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                {% set photo_key = photo %}
                {% if photo_key and photo_key != 'default.png' %}
                    <img src="{{ generate_presigned_url(photo_key) }}" class="rounded-circle border border-light shadow-sm"
                        style="width: 45px; height: 45px; object-fit: cover;">
                {% else %}
                    <img src="{{ url_for('static', filename='img/default.png') }}" class="rounded-circle border border-light shadow-sm"
                        style="width: 45px; height: 45px; object-fit: cover;">
                {% endif %}
            </a>

            <!-- Liens de navigation -->
            <div class="collapse navbar-collapse text-center" id="navbarNav">
                <ul class="navbar-nav ms-auto d-flex align-items-center">
                    <!-- Lien vers les demandes de congés -->
                    <li class="nav-item"><a class="nav-link mx-2" href="{{ url_for('afficher_demandes_congé') }}"><i class="bi bi-envelope-fill"></i> Demandes de congés</a></li>
                    <!-- Lien vers le calendrier des congés -->
                    <li class="nav-item"><a class="nav-link mx-2" href="{{ url_for('calendrier_congés') }}"><i class="bi bi-calendar-check"></i> Calendrier Congés</a></li>
                    <!-- Menu déroulant pour les options supplémentaires -->
                    <li class="nav-item dropdown d-none d-lg-block">
                        <a href="#" class="nav-link dropdown-toggle" id="compteDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {% set photo_key = photo %}
                            {% if photo_key and photo_key != 'default.png' %}
                                <img src="{{ generate_presigned_url(photo_key) }}" class="rounded-circle" style="width: 40px; height: 40px;">
                            {% else %}
                                <img src="{{ url_for('static', filename='img/default.png') }}" class="rounded-circle" style="width: 40px; height: 40px;">
                            {% endif %}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <!-- Liens supplémentaires -->
                            <li class="nav-item"><a class="nav-link mx-2" href="{{ url_for('réunion_scheduler') }}"><i class="bi bi-send"></i> Planification de réunion</a></li>
                            <li class="nav-item"><a class="nav-link mx-2" href="{{ url_for('soumettre_demande_prime') }}"><i class="bi bi-envelope"></i> Soumettre demande prime</a></li>
                            <li class="nav-item"><a class="nav-link mx-2" href="{{ url_for('calendrier_teletravail') }}"><i class="bi bi-calendar-check"></i> Calendrier télétravail</a></li>
                            <li class="nav-item"><a class="nav-link mx-2" href="{{ url_for('manager_primes') }}"><i class="bi bi-currency-dollar"></i> Demandes de Primes</a></li>
                            <li class="nav-item"><a class="nav-link mx-2" href="{{ url_for('logout') }}"><i class="bi bi-box-arrow-right"></i> Se déconnecter</a></li>
                        </ul>
                    </li>
                    <li class="nav-item d-lg-none"><a class="nav-link mx-2" href="{{ url_for('réunion_scheduler') }}"><i class="bi bi-send"></i> Planification de réunion</a></li>
                    <li class="nav-item d-lg-none"><a class="nav-link mx-2" href="{{ url_for('soumettre_demande_prime') }}"><i class="bi bi-envelope"></i> Soumettre demande prime</a></li>
                    <li class="nav-item d-lg-none"><a class="nav-link mx-2" href="{{ url_for('calendrier_teletravail') }}"><i class="bi bi-calendar-check"></i> Calendrier télétravail</a></li>
                    <li class="nav-item d-lg-none"><a class="nav-link mx-2" href="{{ url_for('manager_primes') }}"><i class="bi bi-currency-dollar"></i> Demandes de Primes</a></li>
                    <li class="nav-item d-lg-none"><a class="nav-link mx-2" href="{{ url_for('logout') }}"><i class="bi bi-box-arrow-right"></i> Se déconnecter</a></li>

                </ul>
            </div>
        </div>
    </nav>
    {% endif %}

    <!-- Icône flottante de notifications -->
    <div id="notification-icon" onclick="toggleNotificationPanel()">
        <i class="bi bi-bell-fill"></i>
        {% if nombre_notifications_non_lues > 0 %}
            <span class="badge">{{ nombre_notifications_non_lues }}</span>
        {% endif %}
    </div>

    <!-- Panneau des notifications -->
    <div id="notification-panel">
        <div class="notification-header">📢 Notifications</div>
        <div class="notification-list">
            {% for notification in notifications %}
                <div class="notification-item {% if notification.is_read %}bg-light text-muted{% else %}bg-white text-dark{% endif %}">
                    <div >
                        <p>{{ notification.message }}</p>
                        <button class="btn btn-sm btn-outline-danger ms-2" onclick="supprimerNotification({{ notification.id }})">
                            <i class="bi bi-trash"></i>
                        </button>
                    </div>
                    <small>{{ notification.created_at | format_datetime }}</small>
                </div>
            {% endfor %}
            {% if notifications|length == 0 %}
                <div class="notification-item text-center">Aucune notification</div>
            {% endif %}
        </div>
    </div>

    <!-- Gestion des messages flash via SweetAlert -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <script>
                document.addEventListener('DOMContentLoaded', () => {
                    {% for category, message in messages %}
                    Swal.fire({
                        icon: '{{ 'success' if category == 'success' else 'error' if category == 'danger' else 'warning' if category == 'warning' else 'info' }}',
                        title: '{{ category|capitalize }}',
                        text: '{{ message }}',
                        confirmButtonText: 'OK',
                        customClass: {
                            popup: 'swal2-custom-popup'
                        }
                    });
                    {% endfor %}
                });
            </script>
        {% endif %}
    {% endwith %}

    <!-- Conteneur principal -->
    <div id="main-body">
        <main class="py-5">
            <div class="container">
                <!-- Titre principal du calendrier, avec précision selon le rôle -->
                <h1 class="text-center text-white mb-4">
                    Calendrier du Télétravail
                    {% if role == 'admin' %}
                        <small class="text-white">(Vue RH)</small>
                    {% elif role == 'manager' %}
                        <small class="text-white">(Vue Manager)</small>
                    {% endif %}
                </h1>
                
                <!-- Conteneur du calendrier -->
                <div id="calendar2"></div>
            </div>
        </main>

        <!-- Pied de page -->
        <footer class="py-3">
            <div class="container text-center">
                <p class="mb-0">&copy; 2024 Human Link. Tous droits réservés.</p>
                <div id="google_translate_element"></div>
                <script>
                  function googleTranslateElementInit() {
                    new google.translate.TranslateElement({
                      pageLanguage: 'fr',
                      includedLanguages: 'en,fr,es,zh-CN,it,ar,ber',
                      layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
                      autoDisplay: false
                    }, 'google_translate_element');
                  }
                </script>
                <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
                
        </footer> 
    </div>
    <!-- Scripts JS nécessaires (SweetAlert, Bootstrap, Moment, FullCalendar, script.js) -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.2/main.min.js"></script>
    <script src="../static/script.js"></script>

    <!-- Script d'initialisation du calendrier FullCalendar pour le télétravail -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar2');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                initialView: 'dayGridMonth',
                locale: 'fr',
                buttonText: {
                    today: 'Aujourd’hui',
                    month: 'Mois',
                    week: 'Semaine',
                    day: 'Jour'
                },
                events: [
                    {% for date, teletravails in teletravail_par_jour.items() %}
                        {% for teletravail in teletravails %}
                            {
                                title: '{{ teletravail.id_employe }}',            // ID Employé
                                start: '{{ date.strftime("%Y-%m-%d") }}',        // Jour de télétravail
                                extendedProps: {
                                    nom_complet: '{{ teletravail.nom }} {{ teletravail.prenom }}',
                                    email: '{{ teletravail.email }}'
                                },
                                color: '{{ teletravail.color }}'                 // Couleur distincte par employé
                            },
                        {% endfor %}
                    {% endfor %}
                ],
                eventClick: function(info) {
                    // Popup SweetAlert pour les détails du télétravail
                    Swal.fire({
                        title: 'Détails du Télétravail',
                        html: `
                            <p><strong>ID Employé :</strong> ${info.event.title}</p>
                            <p><strong>Nom Complet :</strong> ${info.event.extendedProps.nom_complet}</p>
                            <p><strong>Email :</strong> ${info.event.extendedProps.email}</p>
                        `,
                        icon: 'info',
                        confirmButtonText: 'Fermer'
                    });
                },
                editable: false,
                droppable: false
            });
            calendar.render();
        });
        
        // Fonction qui ferme le panneau de notifications et les popups SweetAlert
        function closeAllPanels() {
        // Ferme le panneau des notifications
        const notifPanel = document.getElementById('notification-panel');
        if (notifPanel) notifPanel.style.display = 'none';


        }



        document.addEventListener('DOMContentLoaded', function() {
        // Gestion du bouton de notification
        const notifIcon = document.getElementById('notification-icon');

        notifIcon.addEventListener('click', function(event) {
            // Empêche la propagation du clic pour ne pas fermer immédiatement le panneau
            event.stopPropagation();

            // Ferme d'abord tous les panneaux ouverts
            closeAllPanels();

            // Toggle du panneau de notifications
            const notifPanel = document.getElementById('notification-panel');
            if (notifPanel.style.display === 'none' || notifPanel.style.display === '') {
            notifPanel.style.display = 'block';
            } else {
            notifPanel.style.display = 'none';
            }
        });

        // Ferme tous les panneaux (notifications, SweetAlert, etc.) lorsqu'on clique en dehors
        document.addEventListener('click', function(event) {
            // Vérifier si le clic se produit en dehors du panneau de notifications ou du bouton
            if (!event.target.closest('#notification-panel') && !event.target.closest('#notification-icon')) {
            closeAllPanels();
            }
        });
        });
    </script>
</body>
</html>
