<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demandes de Congés</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <h1>Mon Application</h1>
            </div>
            <nav>
                <ul>
                    <li><a href="{{ url_for('manager_dashboard') }}">Tableau de bord</a></li>
                    <li><a href="{{ url_for('logout') }}">Se déconnecter</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="container">
            <h2>Demandes de Congés</h2>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Email</th>
                        <th>Raison</th>
                        <th>Date de début</th>
                        <th>Date de fin</th>
                        <th>Statut</th>
                        <th>Motif de refus</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for demande in demandes %}
                    <tr>
                        <td>{{ demande[0] }}</td>
                        <td>{{ demande[1] }}</td>
                        <td>{{ demande[2] }}</td>
                        <td>{{ demande[3] }}</td>
                        <td>{{ demande[4] }}</td>
                        <td>{{ demande[6] }}</td>
                        <td>{{ demande[7] }}</td>
                        <td>
                            <form method="POST" action="{{ url_for('repondre_demande', id=demande[0]) }}">
                                <button type="submit" name="statut" value="accepter" class="btn btn-success" style="width: 45%;">Accepter</button>
                                <button type="submit" name="statut" value="refuser" class="btn btn-danger" style="width: 45%";>Refuser</button>
                                <input type="text" name="motif_refus" placeholder="Motif du refus (si applicable)" class="input-motif">
                            </form>
                            <form method="POST" action="{{ url_for('supprimer_demande_conge_manager', id=demande[0]) }}">
                                <button type="submit" class="btn btn-danger" style="width: 100%;">Supprimer</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 Gestionnaire RH. Tous droits réservés.</p>
    </footer>
</body>
</html>
