<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mes Informations</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <h1>Mon Application</h1>
            </div>
            <nav>
                <ul>
                    <li><a href="{{ url_for('depot_arret') }}">Soumettre une d'arret</a></li>
                    <li><a href="{{ url_for('soumettre_demande_conge') }}">Soumettre une demande de congé</a></li>
                    <li><a href="{{ url_for('suivi_arrets') }}">Voir les arrêts</a></li>
                    <li><a href="{{ url_for('voir_suivi_demandes_conges') }}">Voir mes demandes de congé</a></li>
                    <li><a href="{{ url_for('logout') }}">Se déconnecter</a></li>
                </ul>
            </nav>
        </div>

    </header>

    <main>
        <div class="container">
            <h2>Mes Informations</h2>
            
            <table>
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Âge</th>
                        <th>Poste</th>
                        <th>Département</th>
                        <th>Email</th>
                        <th>Congé</th>
                        <th>Salaire</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in resultats %}
                    <tr>
                        <td>{{ row[0] }}</td>
                        <td>{{ row[1] }}</td>
                        <td>{{ row[2] }}</td>
                        <td>{{ row[3] }}</td>
                        <td>{{ row[4] }}</td>
                        <td>{{ row[5] }}</td>
                        <td>{{ row[6] }}</td>
                        <td>{{ row[7] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="actions">
                
            </div>
        </div>
    </main>

    <footer>
        <p>&copy; 2024 Gestionnaire RH. Tous droits réservés.</p>
    </footer>
</body>
</html>
