{% extends "manager_base.html" %}

{% block title %}Soumettre une Demandes de prime{% endblock %}

{% block content2 %}
            <h1 class="text-center text-white mb-4">Soumettre une demande de prime</h1>

            <div class="card border-0 rounded-4 fw-bold text-white">
                <div class="card-body p-4">
                    <form method="POST" action="{{ url_for('soumettre_demande_prime') }}" class=" fw-bold">
                        <div class="mb-3">
                            <label for="id_employe" class="form-label">Employé supervisé</label>
                            <select name="id_employe" id="id_employe" class="form-select" required>
                                {% for employe in employes %}
                                    <option value="{{ employe.id }}">{{ employe.nom }} {{ employe.prenom }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="montant" class="form-label">Montant de la prime (€)</label>
                            <input type="number" name="montant" id="montant" class="form-control" required>
                        </div>

                        <div class="mb-3">
                            <label for="motif" class="form-label">Motif</label>
                            <textarea name="motif" id="motif" class="form-control" required placeholder="Veuillez décrire le motif de cette demande !"></textarea>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-success btn-lg">
                                <i class="bi bi-send"></i> Soumettre
                            </button>
                        </div>
                    </form>
                </div>
            </div>
{% endblock %}